aiohttp==3.11.12
bert-score==0.3.13
bottleneck==1.4.2
brotli==1.0.9
# chumpy==0.70 # disabled bc of errors
colorama==0.4.6
diffusers==0.32.2
einops==0.8.1
email-validator==2.2.0
# en-core-web-sm==3.8.0
fastapi-cli==0.0.7
ftfy==6.3.1
gdown==5.2.0
gradio==3.50.2
h2==4.2.0
h5py==3.12.1
httptools==0.6.4
jaraco.collections==5.1.0
librosa==0.10.2.post1
moviepy==1.0.2
natsort==8.4.0
numexpr==2.10.1
omegaconf==2.3.0
opencv-python==4.11.0.86
pip-chill==1.0.3
pyrender==0.1.45
pysocks==1.7.1
python-dotenv==1.0.1
pytorch-lightning==2.5.0.post0
ruff==0.9.1
safehttpx==0.1.6
scikit-image==0.25.1
shapely==2.0.6
shortuuid==1.0.13
smplx==0.1.28
spacy==3.8.4
tensorboard==2.19.0
tomli==2.0.1
tomlkit==0.13.2
typer-slim==0.15.1
uvloop==0.21.0
wandb==0.19.6
watchfiles==0.24.0
zstandard==0.23.0
